@import 'scss-reset/_reset.scss';

html, body {
  height: 100%;
  width: 100%;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mat-icon {
  font-size: 20px;
}
